.collection-header {
  display: flex;
  justify-content: space-between;
}
.todo-header {
  display: flex;
  justify-content: space-between;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}